<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.tobiasjwm.boxdrivenotifier</string>
    <key>Program</key>
    <string>/Library/Management/bin/boxdrivenotifier.py</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
        	<key>Hour</key>
            <integer>11</integer>
            <key>Minute</key>
            <integer>30</integer>
            <key>Weekday</key>
            <integer>1</integer>
        </dict>
    </array>
</dict>
</plist>